@charset "UTF-8";
/* прижатие подвала */
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* основные */
body {
  margin: 0;
  font-family: "Lato", Arial, sans-serif;
}

.wrapper {
  margin: 0 auto;
  min-width: 280px;
  max-width: 1920px;
  outline: 1px solid red;
}

.hidden {
  position: absolute;
  left: -99999px;
  width: 1px;
  height: 1px;
  opacity: 0;
  visibility: hidden;
  /*вместо display: none;*/
}

/* mixin */
/* header */
.wrapper {
  padding: 0px 10px;
}

.header {
  background: #141024;
}

.header-img {
  width: 273px;
  height: 273px;
  position: absolute;
  top: 275px;
  border: 27.8927px solid #ffffff;
  border-radius: 160px;
  box-sizing: border-box;
}

.img-header {
  padding-top: 20px;
  position: relative;
  width: 180px;
  height: 320px;
}

.nav {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.logo-link {
  margin-top: 10px;
  font-family: "Jost";
  font-style: normal;
  color: #ffffff;
  font-size: 18px;
  line-height: 160%;
  font-weight: 700;
  text-decoration: none;
}

.feedback-form-nav {
  margin: 0px;
}

.btn-nav {
  width: 44px;
  height: 44px;
  box-sizing: border-box;
  mix-blend-mode: normal;
  opacity: 0.4;
  border-radius: 10px;
  border: 1px solid transparent;
  background: linear-gradient(#141024, #141024) padding-box, linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0)) border-box;
}

.fa-phone {
  color: #ffffff;
}

.feedback-btn-nav {
  position: absolute;
  right: 65px;
}

.burger-menu span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #ffffff;
}

.burger-menu::before,
.burger-menu::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #ffffff;
}

.burger-menu::after {
  width: 13px;
  margin-top: 5px;
}

.burger-menu::before {
  width: 26px;
  margin-bottom: 5px;
}

/* section header main */
.wrapper-header-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-title {
  font-family: "Jost";
  font-style: normal;
  color: #ffffff;
  font-size: 30px;
  line-height: 160%;
  font-weight: 600;
}

.header-text {
  margin: 0px;
  width: 250px;
  font-family: "Jost";
  font-style: normal;
  color: #ffffff;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}

.header-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 60px;
  background: #d52027;
  border-radius: 5px;
  /* Текст кнопки */
  font-family: "Jost";
  font-style: normal;
  color: #ffffff;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  text-align: center;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #ffffff;
  translate: 0px -57px;
  text-decoration: none;
}

/* main */
/* section info about us */
.main-title,
.main-text {
  font-family: "Jost";
  font-style: normal;
  color: #ffffff;
  font-size: 20px;
  line-height: 160%;
  font-weight: 600;
  color: #141024;
}

.main-text {
  padding: 50px 0px 30px 0px;
  font-weight: 400;
}

/* section info about us */
.info-about {
  padding: 40px 0px 50px 0px;
  text-align: center;
}

.about-us {
  padding: 0px;
}

.quantity-info {
  margin: 30px 0px 10px 0px;
  padding: 0px;
  font-family: "Jost";
  font-style: normal;
  color: #ffffff;
  font-size: 60px;
  line-height: 160%;
  font-weight: 600;
  line-height: 100%;
  color: #d52027;
}

.text-info {
  padding: 0px 15px;
  font-family: "Jost";
  font-style: normal;
  color: #ffffff;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  color: rgba(20, 16, 36, 0.7);
}

/* section info about course */
.about-course {
  background: #f9f9f9;
}

.main-info-header {
  margin: 0px;
  padding-bottom: 20px;
  font-family: "Jost";
  font-style: normal;
  color: #ffffff;
  font-size: 30px;
  line-height: 160%;
  font-weight: 600;
  line-height: 140%;
  color: #141024;
}

.main-info-text-header {
  margin-left: 40px;
  display: flex;
  justify-content: center;
}

.header-info {
  margin: 30px 0px 10px 0px;
  font-family: "Jost";
  font-style: normal;
  color: #ffffff;
  font-size: 20px;
  line-height: 160%;
  font-weight: 600;
  color: #141024;
}

.text-info {
  margin: 0px;
  font-family: "Jost";
  font-style: normal;
  color: #ffffff;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  color: rgba(20, 16, 36, 0.7);
}

.info-desc {
  transform: scale(0, 0);
  position: relative;
  translate: -180px -85px;
  width: 225px;
  height: 50px;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(20, 16, 36, 0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.info-text {
  font-family: "Jost";
  font-style: normal;
  color: #ffffff;
  font-size: 14px;
  line-height: 160%;
  font-weight: 400;
  color: #141024;
}

.header-info-img {
  margin: 30px 0px 0px 15px;
  width: 25px;
  height: 25px;
  border-radius: 20px;
  background: rgba(20, 16, 36, 0.08);
}
.header-info-img:hover .info-desc {
  transform: scale(1, 1);
}

.img-info {
  margin-right: 5px;
  padding: 6px 0px 0px 5px;
  width: 2px;
  height: 12px;
  color: #141024;
}

/* section info about teachers */
.wrapper-teacher-info {
  width: 320px;
}

.teacher-info {
  display: flex;
  justify-content: space-between;
}

.teacher-cart {
  text-align: left;
}

.teacher-img {
  width: 220px;
  height: 306px;
  border-radius: 20px;
}

.teacher-name {
  font-family: "Jost";
  font-style: normal;
  color: #ffffff;
  font-size: 20px;
  line-height: 160%;
  font-weight: 600;
  color: #141024;
}

.teacher-specialty {
  font-family: "Jost";
  font-style: normal;
  color: #ffffff;
  font-size: 14px;
  line-height: 160%;
  font-weight: 400;
  color: rgba(20, 16, 36, 0.7);
}

.details-link {
  font-family: "Jost";
  font-style: normal;
  color: #ffffff;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  color: #d52027;
  text-decoration: none;
}

.teacher-next {
  display: none;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  width: 300px;
  height: 5px;
  background: rgba(20, 16, 36, 0.08);
  border-radius: 40px;
}

.btn-pagination {
  translate: 2px 1px;
  width: 150px;
  height: 3px;
  border-radius: 40px;
  border: none;
}
.btn-pagination:hover {
  background: #141024;
}

.is-active {
  background: #141024;
}

/* section info about program price */
.wrapper-program-info {
  margin-bottom: 50px;
  text-align: center;
}

.program-cart {
  margin: 10px 0px 30px 0px;
  padding-bottom: 20px;
  width: 300px;
  height: 420px;
  border: 1px solid rgba(20, 16, 36, 0.2);
  border-radius: 20px;
}
.program-cart:hover {
  background: #141024;
}
.program-cart:hover .program-name {
  color: #ffffff;
}
.program-cart:hover .program-price {
  color: #ffffff;
}
.program-cart:hover .program-text {
  color: #ffffff;
}

.program-name {
  font-family: "Jost";
  font-style: normal;
  color: #ffffff;
  font-size: 30px;
  line-height: 160%;
  font-weight: 600;
  color: #141024;
}

.program-price {
  font-family: "Jost";
  font-style: normal;
  color: #ffffff;
  font-size: 50px;
  line-height: 160%;
  font-weight: 600;
  color: #141024;
}

.program-text {
  font-family: "Jost";
  font-style: normal;
  color: #ffffff;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  color: #141024;
}

.program-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 60px;
  background: #d52027;
  border-radius: 5px;
  /* Текст кнопки */
  font-family: "Jost";
  font-style: normal;
  color: #ffffff;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  text-align: center;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #ffffff;
  margin: 40px 20px;
  text-decoration: none;
}

/* section application form */
.wrapper-discount {
  padding: 40px 10px;
  background: #d52027;
  text-align: center;
}

.discount-header {
  font-family: "Jost";
  font-style: normal;
  color: #ffffff;
  font-size: 30px;
  line-height: 160%;
  font-weight: 600;
}

.discount-terms {
  font-family: "Jost";
  font-style: normal;
  color: #ffffff;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}

.input-form,
.form-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 60px;
  background: #d52027;
  border-radius: 5px;
  /* Текст кнопки */
  font-family: "Jost";
  font-style: normal;
  color: #ffffff;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  text-align: center;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #ffffff;
  border: none;
}

.input-form {
  margin: 10px 0px;
  background: #f6f6f6;
  text-decoration: none;
}

.input-form::-moz-placeholder {
  padding: 0px 10px;
  font-family: "Jost";
  font-style: normal;
  color: #ffffff;
  font-size: 18px;
  line-height: 160%;
  font-weight: 400;
  line-height: 26px;
  color: rgba(40, 41, 68, 0.7);
  text-align: start;
}

.input-form::placeholder {
  padding: 0px 10px;
  font-family: "Jost";
  font-style: normal;
  color: #ffffff;
  font-size: 18px;
  line-height: 160%;
  font-weight: 400;
  line-height: 26px;
  color: rgba(40, 41, 68, 0.7);
  text-align: start;
}

.form-btn {
  background: #141024;
  color: #ffffff;
}

/* footer */
.wrapper-footer {
  padding: 40px 0px 20px 0px;
  background: #141024;
  text-align: center;
}

.company-phone {
  margin: 20px 0px 40px 0px;
  font-family: "Jost";
  font-style: normal;
  color: #ffffff;
  font-size: 16px;
  line-height: 160%;
  font-weight: 600;
}

.company-name {
  font-family: "Jost";
  font-style: normal;
  color: #ffffff;
  font-size: 14px;
  line-height: 160%;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
}/*# sourceMappingURL=style.css.map */