/* прижатие подвала */

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* основные */

body {
  margin: 0;
  font-family: "Lato", Arial, sans-serif;
}

.wrapper {
  margin: 0 auto;

  min-width: 280px;
  outline: 1px solid red;
}

.hidden {
  position: absolute;
  left: -99999px;
  width: 1px;
  height: 1px;
  opacity: 0;
  visibility: hidden;
  /*вместо display: none;*/
}

/* mixin */

@mixin font($font-size, $font-weight) {
  font-family: "Jost";
  font-style: normal;
  color: #ffffff;

  font-size: $font-size;
  line-height: 160%;
  font-weight: $font-weight;
}

/* header */

.wrapper {
  padding: 0px 10px;
}

.header {
  background: #141024;
}

.header-img {
  width: 273px;
  height: 273px;

  position: absolute;
  top: 275px;

  border: 27.8927px solid #ffffff;
  border-radius: 160px;

  box-sizing: border-box;
}

.img-header {
  padding-top: 20px;
  position: relative;

  width: 180px;
  height: 320px;
}

.nav {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.logo-link {
  margin-top: 10px;

  @include font(18px, 700);

  text-decoration: none;
}

.feedback-form-nav {
  margin: 0px;
}

.btn-nav {
  width: 44px;
  height: 44px;

  box-sizing: border-box;

  mix-blend-mode: normal;
  opacity: 0.4;
  border-radius: 10px;
  border: 1px solid transparent;

  background: linear-gradient(#141024, #141024) padding-box,
    linear-gradient(to bottom, rgb(255, 255, 255, 1), rgba(255, 255, 255, 0))
      border-box;
}

.fa-phone {
  color: #ffffff;
}

.feedback-btn-nav {
  position: absolute;
  right: 65px;
}

.burger-menu span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #ffffff;
}

.burger-menu::before,
.burger-menu::after {
  content: "";
  display: block;

  height: 2px;
  background-color: #ffffff;
}

.burger-menu::after {
  width: 13px;

  margin-top: 5px;
}

.burger-menu::before {
  width: 26px;

  margin-bottom: 5px;
}

/* section header main */

.header-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-title {
  @include font(30px, 600);
}

.header-text {
  margin: 0px;
  width: 250px;

  @include font(16px, 400);
}

.feedback-btn-header {
  translate: 0px -57px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 300px;
  height: 60px;

  background: #d52027;
  border-radius: 5px;
  border: none;

  /* Записаться на курс */

  @include font(16px, 400);

  text-align: center;

  flex: none;
  order: 0;
  flex-grow: 0;
}

/* main */
/* section info about us */

.main-title,
.main-text {
  @include font(20px, 600);

  color: #141024;
}

.main-text {
  padding: 50px 0px 30px 0px;
  font-weight: 400;
}

/* section info about us */

.info-about-us {
  text-align: center;
}

.quantity-info {
  margin: 30px 0px 10px 0px;
  padding: 0px;
  @include font(60px, 600);
  line-height: 100%;

  color: #d52027;
}

.text-info {
  padding: 0px 15px;
  @include font(16px, 400);

  color: rgba(20, 16, 36, 0.7);
}

/* section info about course */

.info-about-course {
  padding: 40px 0px 50px 0px;
  text-align: center;
  background: #f9f9f9;
}

.main-info-header {
  margin: 0px;
  padding-bottom: 20px;

  @include font(30px, 600);

  line-height: 140%;
  color: #141024;
}

.main-info-text-header {
  margin-left: 40px;

  display: flex;
  justify-content: center;
}

.header-info {
  margin: 30px 0px 10px 0px;
  @include font(20px, 600);

  color: #141024;
}

.text-info {
  margin: 0px;
  @include font(16px, 400);

  color: rgba(20, 16, 36, 0.7);
}

.info-desc {
  transform: scale(0, 0);
  position: relative;
  translate: -180px -85px;

  width: 225px;
  height: 50px;

  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(20, 16, 36, 0.1);
  border-radius: 5px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.info-text {
  @include font(14px, 400);

  color: #141024;
}

.header-info-img {
  margin: 30px 0px 0px 15px;

  width: 25px;
  height: 25px;

  border-radius: 20px;
  background: rgba(20, 16, 36, 0.08);

  &:hover .info-desc {
    transform: scale(1, 1);
  }
}

.img-info {
  margin-right: 5px;
  padding: 6px 0px 0px 5px;

  width: 2px;
  height: 12px;

  color: #141024;
}
