body {
  margin: 0;
  font-family: "Lato", Arial, sans-serif;
}

/* прижатие подвала */

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper {
  margin: 0 auto;

  min-width: 280px;
  outline: 1px solid red;
}

.hidden {
  position: absolute;
  left: -99999px;
  width: 1px;
  height: 1px;
  opacity: 0;
  visibility: hidden;
  /*вместо display: none;*/
}

/* header */

.wrapper {
  padding: 0px 10px;
}

.header {
  min-height: 615px;

  background: #141024;
}

.header-img {
  margin: 0px 15px;

  width: 273px;
  height: 273px;

  position: absolute;
  top: 255px;

  border: 27.8927px solid #ffffff;
  border-radius: 160px;

  box-sizing: border-box;
}

.img-header {
  position: relative;

  left: 70px;

  width: 180px;
  height: 320px;
}

.nav {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.logo-link {
  margin-top: 10px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;

  color: #ffffff;

  text-decoration: none;
}

.feedback-form-nav {
  margin: 0px;
}

.btn-nav {
  width: 44px;
  height: 44px;

  box-sizing: border-box;

  mix-blend-mode: normal;
  opacity: 0.4;
  border-radius: 10px;
  border: 1px solid transparent;

  background: linear-gradient(#141024, #141024) padding-box,
    linear-gradient(to bottom, rgb(255, 255, 255, 1), rgba(255, 255, 255, 0))
      border-box;
}

.fa-phone {
  color: #ffffff;
}

.feedback-btn-nav {
  position: absolute;
  right: 65px;
}

.burger-menu span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #ffffff;
}

.burger-menu::before,
.burger-menu::after {
  content: "";
  display: block;

  height: 2px;
  background-color: #ffffff;
}

.burger-menu::after {
  width: 13px;

  margin-top: 5px;
}

.burger-menu::before {
  width: 26px;

  margin-bottom: 5px;
}
